{% extends "base.html" %}

{% block content %}
<br>
<h1>Добавление книги в библиотеку</h1>
<br>

<form action="" method="post">
    {{ form.hidden_tag() }}
    <p>
        {{ form.name.label }}<br>
        {{ form.name(class="form-control") }}<br>
        {% for error in form.name.errors %}
            <p class="alert alert-danger" role="alert">
                {{ error }}
            </p>
        {% endfor %}
    </p>
<p>
        {{ form.autor.label }}<br>
        {{ form.autor(class="form-control") }}<br>
        {% for error in form.autor.errors %}
            <p class="alert alert-danger" role="alert">
                {{ error }}
            </p>
        {% endfor %}
    </p>
    <p>
        {{ form.gener.label }}<br>
        {{ form.gener(class="form-control") }}<br>
        {% for error in form.gener.errors %}
            <p class="alert alert-danger" role="alert">
                {{ error }}
            </p>
        {% endfor %}
    </p>
    <p>
        {{ form.age.label }}<br>
        {{ form.age(class="form-control") }}<br>
        {% for error in form.age.errors %}
            <p class="alert alert-danger" role="alert">
                {{ error }}
            </p>
        {% endfor %}
    </p>
    <p>
        {{ form.kr_sod.label }}<br>
        {{ form.kr_sod(class="form-control") }}<br>
        {% for error in form.kr_sod.errors %}
            <p class="alert alert-danger" role="alert">
                {{ error }}
            </p>
        {% endfor %}
    </p>
    <p>
        {{ form.my_reit.label }}<br>
        {{ form.my_reit(class="form-control") }}<br>
        {% for error in form.my_reit.errors %}
            <p class="alert alert-danger" role="alert">
                {{ error }}
            </p>
        {% endfor %}
    </p>

    <p>{{ form.submit(type="submit", class="btn btn-primary") }}</p>
    {{message}}
</form>
{% endblock %}