{% extends "base.html" %}

{% block content %}
<div class="book_blocks">
    <div class="row row-cols-1 row-cols-md-4 g-4">
        <div class="card">
            <a type="button" href="/filtr/Фентези"><img src="../static/img/biblioteka1.png" style="height: 210px; width: 210px"></a>
        </div>
        <div class="card">
            <a type="button" href="/filtr/Ужастик"><img src="../static/img/biblioteka2.png" style="height: 210px; width: 210px"></a>
        </div>
        <div class="card">
            <a type="button" href="/filtr/Комедия"><img src="../static/img/biblioteka3.png" style="height: 210px; width: 210px"></a>
        </div>
        <div class="card">
            <a type="button" href="/filtr/Боевик"><img src="../static/img/biblioteka4.png" style="height: 210px; width: 210px"></a>
        </div>
        <div class="card">
            <a type="button" href="/filtr/Детектив"><img src="../static/img/biblioteka5.png" style="height: 210px; width: 210px"></a>
        </div>
        <div class="card">
            <a type="button" href="/filtr/Классика"><img src="../static/img/biblioteka6.png" style="height: 210px; width: 210px"></a>
        </div>
        <div class="card">
            <a type="button" href="/filtr/Поэзия"><img src="../static/img/biblioteka7.png" style="height: 210px; width: 210px"></a>
        </div>
    </div>

{% endblock %}