{% extends "base.html" %}

{% block content %}
<div class="book_blocks">
    <div class="row row-cols-1 row-cols-md-4 g-4">
        <div class="card">
            <a type="button" href="/fantazy"><img src="../static/img/biblioteka1.png" style="height: 210px; width: 210px"></a>
        </div>
        <div class="card">
            <a type="button" href="/yzhastic"><img src="../static/img/biblioteka2.png" style="height: 210px; width: 210px"></a>
        </div>
        <div class="card">
            <a type="button" href="/komedy"><img src="../static/img/biblioteka3.png" style="height: 210px; width: 210px"></a>
        </div>
        <div class="card">
            <a type="button" href="/boevic"><img src="../static/img/biblioteka4.png" style="height: 210px; width: 210px"></a>
        </div>
        <div class="card">
            <a type="button" href="/drama"><img src="../static/img/biblioteka5.png" style="height: 210px; width: 210px"></a>
        </div>
        <div class="card">
            <a type="button" href="/klassica"><img src="../static/img/biblioteka6.png" style="height: 210px; width: 210px"></a>
        </div>
        <div class="card">
            <a type="button" href="/proza"><img src="../static/img/biblioteka7.png" style="height: 210px; width: 210px"></a>
        </div>
        <div class="card">
            <a type="button" href="/my_fav"><img src="../static/img/biblioteka8.png" style="height: 210px; width: 210px"></a>
        </div>
        <div class="card">
            <a type="button" href="/random"><img src="../static/img/biblioteka9.png" style="height: 210px; width: 210px"></a>
        </div>
    </div>

{% endblock %}